@charset "utf-8";
/* CSS Document */
body{
	background: #D3D3D3;
}

@media screen and (min-width: 1024px){
#main{
	width: 100vw;
	height: 100%;
}
.details {
	width:  80%;
	height: 500px;
	margin-top:5% ;
	margin-left:20%;
}
	
	
	
	
	
.details img{
	
	width: 90px;
	height: 90px;
	position: absolute;
	left:50vw;
	transform: translateX(-50%);	
}
.details h2{
	position: absolute;
	top:30%;
	left: 50vw;
	transform: translateX(-50%);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;

}

#email{
	width:20%;
	position: absolute;
	left: 50vw;
	top: 35%;
	margin-top: 2%;
	transform: translateX(-50%);
	padding:0.7% 1%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
}
#pass{
	width:20%;
	position: absolute;
	left: 50vw;
	top: 43%;
	margin-top: 2%;
	transform: translateX(-50%);
	padding:0.7% 1%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
}

	input[type=submit]{
	width:22%;
	font-size: 1.2em;
	position: absolute;
	left: 50vw;
	top:55%;
	transform: translateX(-50%);
	margin-top:5%;
	padding:1% 5%;
	background:black;
	color:white;
	font-weight: 600;
	cursor: pointer;
	border: none;
}

	input[type=submit]:hover{
		background:#009de2;
	}	
	
#forgotLink{
	
	font-size:13pt;
	position: absolute;
	left: 50vw;
	top: 52.5%;
	margin-top: 2%;
	padding:0.7% 1%;
	transform: translateX(-50%);
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration: none;

}
	
	
	/*button{
		width:22%;
	font-size: 1.2em;
	position: absolute;
	left: 50vw;
	top:65%;
	transform: translateX(-50%);
	margin-top:5%;
	padding:1% 5%;
	background:black;
	color:white;
	font-weight: 600;
	cursor: pointer;
	border: none;
		
	}*/
	

.details p{
	font-size:13pt;
	position: absolute;
	left: 50vw;
	top: 70%;
	margin-top: 2%;
	padding:0.7% 1%;
	transform: translateX(-50%);
	color: grey;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
	
	
}






@media screen and (max-device-width: 640px) and (orientation: portrait){



#main{
	width: 100%;
	height: 100%;
	position: relative;
}
.details {
	width:  100%;
	height: 100vh;
	margin-top:5% ;
	position: relative;
}
	

.details a img{
	
	width: 90px;
	height: 90px;
	position: absolute;
	top:10%;
	left:50vw;
	transform: translateX(-50%)
		
}
.details h2{
	position: absolute;
	top:25%;
	left: 50vw;
	font-size: 2em;
	transform: translateX(-50%);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;

}

#email{
	width:60%;
	position: absolute;
	left: 50vw;
	top: 35%;
	transform: translateX(-50%);
	padding:1.5% 1.5%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.1em;
}
#pass{
	width:60%;
	position: absolute;
	left: 50vw;
	top: 43%;
	transform: translateX(-50%);
	padding:1.5% 1.5%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.1em;
}
 #forgotLink{
	
	font-size:13pt;
	position: absolute;
	left: 50vw;
	top: 50%;
	margin-top: 2%;
	padding:0.7% 1%;
	transform: translateX(-50%);
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration: none;

}

input[type=submit]{
	width: 30%;
	position: absolute;
	left: 50vw;
	top:55%;
	transform: translateX(-50%);
	margin-top:5%;
	padding:3% 5%;
	background:black;
	color:white;
	font-weight: 600;
	cursor: pointer;
	border: none;
}
input[type=submit]:hover{
		background:#009de2;
	}	


.details p{
	font-size:13pt;
	position: absolute;
	left: 50vw;
	top: 70%;
	margin-top: 2%;
	padding:0.7% 1%;
	transform: translateX(-50%);
	color: grey;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
	
	
}






/*TABLET MODE*/


@media screen and (min-device-width: 641px) and (max-device-width: 1023px)  {
	
	#main{
	width: 100%;
	height: 100%;
	position: relative;
}
.details {
	width:  100%;
	height: 100vh;
	margin-top:5% ;
	position: relative;
}
	

.details a img{
	
	width: 90px;
	height: 90px;
	position: absolute;
	top:10%;
	left:50vw;
	transform: translateX(-50%)
		
}
.details h2{
	position: absolute;
	top:25%;
	left: 50vw;
	font-size: 2em;
	transform: translateX(-50%);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;

}

#email{
	width:60%;
	position: absolute;
	left: 50vw;
	top: 35%;
	transform: translateX(-50%);
	padding:1.5% 1.5%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.1em;
}
#pass{
	width:60%;
	position: absolute;
	left: 50vw;
	top: 43%;
	transform: translateX(-50%);
	padding:1.5% 1.5%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.1em;
}
 #forgotLink{
	
	font-size:13pt;
	position: absolute;
	left: 50vw;
	top: 50%;
	margin-top: 2%;
	padding:0.7% 1%;
	transform: translateX(-50%);
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration: none;

}

	input[type=submit]{
	width: 30%;
	position: absolute;
	left: 50vw;
	top:55%;
	transform: translateX(-50%);
	margin-top:5%;
	padding:3% 5%;
	background:black;
	color:white;
	font-weight: 600;
	cursor: pointer;
	border: none;
}
	input[type=submit]:hover{
		background:#009de2;
	}	



.details p{
	font-size:13pt;
	position: absolute;
	left: 50vw;
	top: 70%;
	margin-top: 2%;
	padding:0.7% 1%;
	transform: translateX(-50%);
	color: grey;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
	
	
	
	
	
	
}



