@charset "utf-8";
/* CSS Document */
body{
	background: #D3D3D3;
}


#main{
	width: 100vw;
	height: 100%;
}
.details {
	width:  80%;
	height: 500px;
	margin-top:5% ;
	margin-left:20%;
}
.details img{
	
	width: 90px;
	height: 90px;
	position: absolute;
	top:5%;
	left:50vw;
	transform: translateX(-50%);
	
}
.details h2{
	position: absolute;
	top:25%;
	left: 50vw;
	transform: translateX(-50%);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;

}

#email{
	width:20%;
	position: absolute;
	left: 50vw;
	top: 30%;
	margin-top: 2%;
	transform: translateX(-50%);
	padding:0.7% 1%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
}
#pass{
	width:20%;
	position: absolute;
	left: 50vw;
	top: 38%;
	margin-top: 2%;
	transform: translateX(-50%);
	padding:0.7% 1%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
}
#conpass{
	width:20%;
	position: absolute;
	left: 50vw;
	top: 46%;
	margin-top: 2%;
	transform: translateX(-50%);
	padding:0.7% 1%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
}

.details button{
	position: absolute;
	left: 50vw;
	top:55%;
	transform: translateX(-50%);
	margin-top:5%;
	padding:1% 10%;
	background:black;
	color:white;
	font-weight: 600;
	cursor: pointer;
	border: none;
}

.details a{
	
	font-size:13pt;
	position: absolute;
	left: 50vw;
	top: 54%;
	margin-top: 2%;
	padding:0.7% 1%;
	transform: translateX(-50%);
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration: none;

}

.details p{
	font-size:13pt;
	position: absolute;
	left: 50vw;
	top: 70%;
	margin-top: 2%;
	padding:0.7% 1%;
	transform: translateX(-50%);
	color: grey;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}